@import "_breakpoints.scss";
/**Para colcoar todas las variables scss que seran usadas de manera general*/

$TOOLBAR_HEIGHT: 64px;
$TABS_HEIGHT: 45px;

@include media-breakpoint("xs"){
    $TOOLBAR_HEIGHT: 55px
}
