<div class="graficos">
    <div class="titulo">
        <label>Gráficos</label>
    </div>
    <div fxLayout= "row">
        <div fxFlex="20" fxFlex.xs="100">
            <button 
               mat-raised-button
               color="primary"
               (click)="login()">
               Regresar
            </button>
        </div>
    </div>
    <div class="content-graficas">
        <div fxLayout= "row" fxLayout.xs= "column">
            <div fxFlex="50" fxFlex.xs="100">
                <div class="chart-wrapper">
                    <canvas baseChart 
                    [data]="pieChartData" 
                    [labels]="pieChartLabels" 
                    [chartType]="pieChartType"
                    [options]="pieChartOptions"
                    [plugins]="pieChartPlugins"
                    [legend]="pieChartLegend">
                  </canvas>
                </div>
            </div>
            <div fxFlex="50" fxFlex.xs="100">
                <div class="chart-wrapper">
                    <canvas baseChart
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [plugins]="barChartPlugins"
                        [legend]="barChartLegend"
                        [chartType]="barChartType">
                    </canvas>
                </div>
            </div>
        </div>
        <div fxLayout= "row" fxLayout.xs= "column">
            <div fxFlex="50" fxFlex.xs="100">
                <div class="chart-wrapper">
                    <canvas baseChart
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [legend]="lineChartLegend"
                        [chartType]="lineChartType"
                        [plugins]="lineChartPlugins">
                    </canvas>
                </div>
            </div>
            <div fxFlex="50" fxFlex.xs="100">
                <app-map-chart></app-map-chart>
            </div>
        </div>
    </div>
</div>
