<div fxLayout="row" fxFlex id="layout_default"> 
    <div fxFlex="100" style="background: blueviolet;">        
        <div
            *ngIf="showLoadBar"
            id="login-intro"
            fxFlex>
            <mat-progress-bar
                class="loading-bar"
                color="accent"
                mode="indeterminate">
            </mat-progress-bar>
        </div>
        <div 
            id="default-layout-wraper"
            style="overflow: -webkit-paged-x; height: 97vh;width: 100%;">
            <div id="user-form" class="container-layout">
                <router-outlet></router-outlet>                
            </div>
        </div>
    </div>
</div>
